/* --------Font Family ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


/* ------common style----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------Header----------- */


header h2{
    margin-top: 25px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;

    margin-bottom: px;
}
.border-header{
    border: none;
    border-bottom: 4px solid #fd9809;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
.card-calculator{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 9fr 3fr;
}

/* ---------main-------- */
main{
    display: flex;
    gap: 25px;
    /* width: 90%; */
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.card, .card-title img{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.price{
    background-color: #fd9809;
    width: 80px;
    padding: 12px 20px ;
    border-radius: 5px;
    display: inline-flex;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    justify-content: center;
}
.card-detels{
    padding: 15px;
}
.card-detels h3{
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px ;
}
.card-detels p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(49, 47, 47, 0.986);
}
.chicken-kgm{

    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(128, 128, 128, 0.199);
}
.chicken-kgm p{
    color: #fd9809;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 10px 0px;
}
.chicken-kgm .chicken {
   color: rgb(247, 242, 242);
    background-color: #cc3c32;
    padding: 2px 18px;
    font-size: 1.1rem;
    border-radius: 10px;
}
.price-order{
    display: flex;
    justify-content: space-between;
}
.decrement-increment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-order h3{
    font-size: 2.2rem;
    margin:  10px 0px;
    color: #cc3c32;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}
.decrement,.increment{
    padding: 5px 10px;
    font-weight: 700;
    background-color: gray;
    color:#fff;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.order-now{
    text-align: center;
    margin-bottom: 20px;
    
}
.order-btn {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 36px;
    border: none;
    background-color: #CC3C32;
    color: #FFf;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p.order {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 0px 20px;
}


/* detels-calculator */
.detels-calculator{
    background-color: #fd9809;
    padding: 30px;
    height: 600px;
    border-radius: 10px;
}
.bazar-list h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.bazar-list p {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 11px 0px;
    color: #fff;
}

.bazar-list p span {
/*     font-size: 1.6rem;
    font-weight: 400; */
    margin-left: 10px;
}

.single-item-price{
    color: #CC3C32;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
}

.price-vat {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:  25px 0px;
}
.price-vat h4{
    font-size: 22px;
    color: #fff;
    font-size: 2rem;
}
.price-vat span{
    color: #CC3C32;
}
.price-vat h2 {
    font-size: 2.6rem;
    color: #f7f0f0;
}
.total-price {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
    align-items: center;
}

.btn-price {
    font-size: 2rem;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #CC3C32;
    color: #fff;
    font-weight: 700;
}
.price{
    font-size: 1.5rem;
    color: #CC3C32;
}
.btn-price span{
    color: #fff;
}
.buy-now{
    font-size: 2rem;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    background-color: #CC3C32;
    color: #fff;
    font-weight: 700;
}