/* --------Font Family ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


/* ------common style----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* -------Header----------- */
header h2{
    
    font-size: 2.5rem;
    font-weight: 700;
    color:#fd9809 ;
    text-align: center;
    border-bottom: 4px solid pink;
}

/* ---------main-------- */
.card{
    width: 350px;
    border: 2px solid yellow;
}
.card-title img{
    width: 345px;
}
.price{
    background-color: #fd9809;
    width: 80px;
    padding: 12px 20px ;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.card-detels{
    padding: 15px;
}
.card-detels h3{
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0px 5px 0;
}
.card-detels p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(49, 47, 47, 0.986);
}
.chiken-kgm{

    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(128, 128, 128, 0.199);
}
.chiken-kgm p{
    color: #fd9809;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 10px 0px;
}
.chicken {
    color: #fff;
    background-color: #fd9809;
    padding: 2px 18px;
    font-size: 1.1rem;
    border-radius: 10px;
}
.price-order{
    display: flex;
    justify-content: space-between;
}
.decrement-increment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}